.CaptorBuilderLayout {
  height: 100vh;
  .CaptorBuilderHeader {
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #FFF;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #EEE;
    .CaptorBuilderHeader {
      &-title,
      &-action {
        display: inline-flex;
      }
    }
  }
  .CaptorBuilderLayoutContent {
    height: calc(100vh - 80px);
    .CaptorBuilderNav {
      height: 100%;
      padding: 12px;
      .ant-menu-item {
        border-radius: 3px;
        padding: 0 16px !important;
        line-height: 58px;
        height: 48px;
      }
    }
    .CaptorBuilderContent {
      display: flex;
      height: 100%;
      overflow: hidden;
      .CaptorPanelHeader {
        border-bottom: 1px solid #EEE;
        .CaptorPanelHeader {
          &-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 24px;
            height: 64px;
            span { font-weight: 700; text-transform: uppercase; }
            .ant-btn {
              height: initial;
              padding: 0;
              border: 0;
              background-color: transparent;
              line-height: 1;
              .anticon {
                font-size: 20px;
              }
            }
          }
          &-actions {
            padding: 0px 24px;
            margin-bottom: 24px;
            .ant-btn {
              margin-right: 12px;
              background-color: transparent;
              border: 0;
              padding: 0;
            }
          }
        }
      }
      .CaptorToolbar {
        flex-basis: 0px;
        display: none;
        background-color: #f8f8f8;
        border-right: 1px solid #EEE;
        height: 100%;
        &.visible {
          display: block;
          flex-basis: 320px;
          &.wide {
            flex-basis: 440px;
          }
        }
        .CaptorToolbarBody {
          padding: 24px;
          height: calc(100% - 64px);
          overflow: auto;
          &.has-actions {
            height: calc(100% - 120px);
          }
        }
        .CaptorFieldList {
          height: 100%;
          .CaptorField {
            display: flex;
            background-color: #FFF;
            margin-bottom: 16px;
            border-radius: 4px;
            padding: 8px;
            box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.04);
            outline: none;
            cursor: move;
            cursor: -webkit-drag;
            align-items: center;
            h4 { margin-bottom: 0; }
            &.isDragging {
              .CaptorFieldIcon {
                .ant-avatar {
                  background-color: #fcdb51 !important;
                }
              }
            }
          }
        }
        .CaptorFieldSettings {
          height: 100%;
          .FieldSettings {
            .FieldSettingItem {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 18px 0;
              border-bottom: 1px solid #EEE;
            }
          }
        }
        .CaptorLogicJump {
          height: 100%;
          .CaptorLogicJumpItem {
            margin-bottom: 24px;
          }
        }
      }
      .CaptorDroppable {
        flex-basis: 560px;
        background-color: #FFF;
        border-right: 1px solid #EEE;
        position: relative;
        .placeholder {
          position: absolute;
          display: none;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          background: url('/images/debut-light.png');
          -webkit-animation:100s scroll infinite linear;
          -moz-animation:100s scroll infinite linear;
          -o-animation:100s scroll infinite linear;
          -ms-animation:100s scroll infinite linear;
          animation:100s scroll infinite linear;
        }
        &.isDraggingOver {
          .placeholder {
            display: block;
          }
        }
        .CaptorFieldItem {
          display: flex;
          position: relative;
          padding: 32px;
          z-index: 10;
          border-bottom: 1px solid rgba(0,0,0,0.06);
          ::-webkit-input-placeholder { color: #555; }
          ::-moz-placeholder { color: #555; }
          :-ms-input-placeholder { color: #555; }
          :-moz-placeholder { color: #555; }
          .ant-input-affix-wrapper {
            .ant-input {
              padding-left: 24px;

            }
          }
          .ant-input {
            background-color: transparent;
            border: none;
            padding: 0;
            box-shadow: none;
            &-lg {
              height: 24px;
              font-size: 24px;
            }
          }
        }
      }
      .CaptorPreview {
        flex: 1;
        height: 100%;
        background: #f6fbff;
        .CaptorPreviewScrollable {
          max-width: 600px;
          width: 100%;
          margin: 0 auto;
          margin-top: 250px;
          overflow: hidden;
          height: calc(100% - 250px);
          .FieldCard {
            box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.04);
            background-color: #FFF;
            padding: 36px;
            border-radius: 4px;
            label {
              display: block;
              font-size: 24px;
              margin-bottom: 12px;
              letter-spacing: .01em;
              color: #555;
            }
            input {
              border: none;
              border-bottom: 1px solid #EEE;
              width: 100%;
              padding-top: 16px;
              padding-bottom: 16px;
              font-size: 18px;
              outline: none;
            }
          }
        }
      }
    }
  }
}


@-webkit-keyframes scroll{
  100%{
    background-position: 3000px 0px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position: 3000px 0px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position: 3000px 0px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position: 3000px 0px;
  }
}

@keyframes scroll{
  100%{
    background-position: 3000px 0px;
  }
}
